# Ignore build artifacts
build/
*.exe
*.bin
*.o
*.obj
*.dll

# Ignore Editor settings (VS Code)
.vscode/

# Ignore System files
.DS_Store
Thumbs.db

# Data Files (Don't upload your test database)
*.dat